.tab {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

.info__header{
display: flex;
justify-content: space-between;
}

.tabs__nav {
    display: flex;
    flex-direction: row;

}

.tab:hover {
    cursor: pointer;
}

.tab-link {
    width: 100%;
}
.active {
    background-color: black;
    color: white;
}

.chart__area {
    display: flex;
    flex-direction: row;
}