.info__box {
    background-color: 'white';
    margin: 0;
    padding: 10;
    width: '90%';
    z-index: 100;
    position: 'absolute';
    padding-right: 10
}

.tab {
    display: flex;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: white;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    border-bottom: 2px solid white;
}

.info-container__close-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    position: absolute;
    top: 25%;
    left: -50px;
    z-index: 1003;
    /* visibility: hidden; */
    /* border: 1px solid black; */
}

.info-container__close-circle:hover {
    visibility: visible;
    background-color: black;
}

.info__header{
display: flex;
justify-content: space-between;
}

.tabs__nav {
    display: flex;
    flex-direction: row;

}

.tab:hover {
    cursor: pointer;
    border-bottom: 2px solid blue;
}

.tab-link {
    width: 100%;
}
.active {
    border-bottom: 2px solid blue;
    color: black;
}

.chart__area {
    display: flex;
    flex-direction: row;
}

.tab__all {
    padding-top: 10px;
    padding-bottom: 10px;
}

.data__table {
    margin-bottom: 30px;
}

.charts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
