.locationBlock {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 40%;
    font-size: .75em;
    background-color: black;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.locationBlock {
    display: none;  
}

nav {
    background-color:white;
    width: 100%;
}

.nav__user-login {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 25%; */
    padding: 10px;
    width: 95%;    
}

.mapContainer__nav {
    display: flex !important;
    align-content: center;
    justify-content: space-between;
}

.height-50 {
    height: 50% !important;
}





.notScrollable {
    overflow: hidden;
}

.scrollable {
    overflow: auto !important;
}


.filterBox {
    z-index: 1;
    display: block;
    color: black;
    width: 40%;
}

.map-overlay {
    position: absolute;
    top: 20%;
    right: 10px;
    width: 100%;
    max-height: 50%; 
    z-index: 1001; 

}
  
.map-overlay h1 {
    font-size: 1.15em !important;
    font-weight: 800;
    padding: 10px;
    background-color: black;
    color: white;
}

 .nearbyLocations__ul {
     display: flex;
     flex-direction: column;
     padding-bottom: 5px;
     line-height: 120%;
     padding-left: 5px;
 }

 .nearbyLocations__name {
     padding-top: 10px;
     width: 100%;

 }

 .facility__sidebar {
    border: 2px solid lightgray;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    background-color: white;
    width: 25%;
    margin: 0 auto;
    padding: 20px;
 }

 .overlapping__footer {
    justify-content: center;
 }

 .overlapping__btn-dismiss {
     align-items: center;
 }

 .nearbyLocations__li {
     min-height: 50px;
     display: flex;
     align-content: space-between;
     padding: 5px;
     margin-right: 5px
 }
 .nearbyLocations__li:hover {
    background-color: lightgrey;
    color: black;
    
 }

 .nav__user-logged-in {
     padding-right: 10px;
     padding-top: 7px;
 }
 .nav__user-logout {
    display: flex;
    align-content: center;
    justify-content: center;
 }
