body {
  box-sizing: border-box;
}

.map-overlay {
  position: absolute;
  top: 65%;
  bottom: 10px;
  left: 0;
  max-height: 40%; 
  z-index: 1001; 
}

.map-overlay h1 {
  font-size: 1.5em !important;
}

.hidden {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}