.map-overlay {
  position: absolute;
  width: 35%;
  top: 50px;
  bottom: 0;
  left: 0;
  max-height: 50%;
  /* background-color:white;
  color: black;
  overflow-y: scroll;
  margin: 10px;
  padding: 5px; */
  
}

.map-overlay h1 {
  font-size: 1.5em !important;
}

.hidden {
  display: none;
}