@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', serif;
}


.hidden {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}